<% if (eventsList) { %>
<% eventsList.forEach(event => { %>
<section>

  <div>
    <h2><%= event.title %></h2>
    <h4><%= event.venue_name   %></h4>
    <h4><%= event.start_time %></h4>
  </div>
  <p><%- event.description %></p>
  
  <a href="<%= event.url %>">More Info</a>
</section>
<% }) %>
<% } else { %>
<p>Sorry! We couldn't find you events for this area.</p>
<% } %>