<% if(musicArray){ %>
<% musicArray.forEach(artist => { %>

<section>
  <div>
  <h2><%= artist.name %></h2>
  <p><%= artist.teaser +" " + artist.wikilink  %></p>
  <a href="<%= artist.youtubeLink %>">Youtube Channel for this artist</a>
  </div>
  <iframe width="190" height="150" src="<%= artist.youtubeLink %>" frameborder="0">
  </iframe>
  <form action="result/music" method="post">
    <input type="hidden" name="name" value="<%= artist.name %>">
    <input type="hidden" name="teaser" value="<%= artist.teaser %>">
    <input type="hidden" name="wikilink" value="<%= artist.wikilink %>">
    <input type="hidden" name="youtubeLink" value="<%= artist.youtubeLink %>">
    <button type="submit">Save This Artist</button>
  </form>
  </div>
</section>
<% }) %>
<% } else { %>
<p>Sorry! Something went wrong - we couldn't find you related artists.</p>
<% } %>