<% if(musicArray){ %>
<h1>We found some similar artists for you to check out!</h1>
<% musicArray.forEach(artist => { %>

<section>

  <p><%= artist.name %></p>
  <p><%= artist.teaser %></p>
  <p><%= artist.wikilink %></p>
  <iframe width="320" height="240" src="<%= artist.youtubeLink %>" frameborder="0">
  </iframe>
  <form action="result/music" method="post">
    <input type="hidden" name="name" value="<%= artist.name %>">
    <input type="hidden" name="teaser" value="<%= artist.teaser %>">
    <input type="hidden" name="wikilink" value="<%= artist.wikilink %>">
    <input type="hidden" name="youtubeLink" value="<%= artist.youtubeLink %>">
    <button type="submit">Save This Artist</button>
  </form>
</section>
<% }) %>
<% } else { %>
<p>Sorry! Something went wrong - we couldn't find you related artists.</p>
<% } %>