<% if (newsList) { %>
  <h1>News of the Day</h1>
<% newsList.forEach(article => { %>
<section>
  <div>
    <h2>HEADLINE: <%= article.headline %></h2>
    <p><%= article.abstract %></p>
    <hr>
    <p>Publication Date: <%= article.date %></p>
    <hr>
    <p>Byline: <%= article.byline %></p>
    
  </div>
  <div>
    <img src="<%=article.image %>">
    <button><a href="<%= article.web_url %>">Read The Article on NYTimes.com</a></button>
    <% if (displayFavs) { %>
    <form action="<%= '/favorites/news?_method=DELETE' %>" method="post">
      <input type="hidden" name="headline" value="<%= article.headline %>">
      <input type="hidden" name="abstract" value="<%= article.abstract %>">
      <input type="hidden" name="web_url" value="<%= article.web_url %>">
      <input type="hidden" name="date" value="<%= article.date %>">
      <input type="hidden" name="byline" value="<%= article.byline %>">
      <input type="hidden" name="image" value="<%= article.image %>">
      <input type="hidden" name="source" value="<%= article.source %>">
      <button type="submit">Delete from Favorites</button>
      <% } else { %>
      <form action="/result/news" method="post">
        <input type="hidden" name="headline" value="<%= article.headline %>">
        <input type="hidden" name="abstract" value="<%= article.abstract %>">
        <input type="hidden" name="web_url" value="<%= article.web_url %>">
        <input type="hidden" name="date" value="<%= article.date %>">
        <input type="hidden" name="byline" value="<%= article.byline %>">
        <input type="hidden" name="image" value="<%= article.image %>">
        <input type="hidden" name="source" value="<%= article.source %>">
        <button type="submit">Add to Favorite News Stories</button>
        <% } %>
      </form>
      <button class="seeNextNews"> See more News Articles</button>
  </div>
</section>
<% }) %>
<% } else { %>
<p>Sorry! We couldn't find you the current news.</p>
<% } %>