<% if (triviaList) { %>
<h1>Train your brain - no pain, no gain.</h1>

<% triviaList.forEach((question, index) => { %>
  <section>
      <h2>Category: <%= question.category %></h2>
  <div>
    <p>Question: <%= question.question %></p>
    <div class="trivia-answers">
      <p class="trivia-<%= index %>" data-correct="true"> <%= question.correct_answer %></p>

      <% question.incorrect_answers.forEach(answer => { %>

      <p class="trivia-<%= index %>" data-correct="false"> <%= answer %></p>

      <% }) %>
    </div>
  </div>
  <button class="seeNextTrivia"> See another question </button>
</section>
<% }) %>
<% } else { %>
<p>Sorry! We couldn't find you any fun trivia.</p>
<% } %>