<% if (restaurantList) { %>
<h1>Since you're hungry...</h1>
<% restaurantList.forEach(restaurant => { %>
<section>
  
  <a href="<%= restaurant.url %>"><img src="<%= restaurant.image_url %>" alt="<%= restaurant.name %>"></a>
  
  <div id="foodData">
    <h2><%= restaurant.name %></h2>
    <ul>
      <li><%= restaurant.is_closed %></li>
      <li><%= restaurant.rating + ' out of 5 stars'%></li>
      <li><%= 'Price range: ' + restaurant.price %></li>
      <li><%= restaurant.phone %></li>
    </ul>
    <button><a href="<% restaurant.url %>"> View details </a></button>
    <% if (displayFavs) { %>
    <form action="result/yelp" method="post">
      <input type="hidden" name="id" value="<%= restaurant.id %>">
      <input type="hidden" name="name" value="<%= restaurant.name %>">
      <input type="hidden" name="image_url" value="<%= restaurant.image_url %>">
      <input type="hidden" name="is_closed" value="<%= restaurant.is_closed %>">
      <input type="hidden" name="rating" value="<%= restaurant.rating %>">
      <input type="hidden" name="price" value="<%= restaurant.price %>">
      <input type="hidden" name="distance" value="<%= restaurant.distance %>">
      <button type="submit">Delete from Favorites</button>
    </form>
    <% } else { %>
    <form action="result/yelp" method="post">
      <input type="hidden" name="id" value="<%= restaurant.id %>">
      <input type="hidden" name="name" value="<%= restaurant.name %>">
      <input type="hidden" name="image_url" value="<%= restaurant.image_url %>">
      <input type="hidden" name="is_closed" value="<%= restaurant.is_closed %>">
      <input type="hidden" name="rating" value="<%= restaurant.rating %>">
      <input type="hidden" name="price" value="<%= restaurant.price %>">
      <input type="hidden" name="distance" value="<%= restaurant.distance %>">
      <button type="submit">Add to Favorite Restaurants</button>
    </form>
    <% } %>
  </div>
</section>
<% }) %>
<% } else { %>
<p>Sorry! We couldn't find you restaurants for this area.</p>
<% } %>