<% if (restaurantList) { %>
<h1>Since you're hungry...</h1>
<% restaurantList.forEach(restaurant => { %>
<section>
  <img width=200px src="<%= restaurant.image_url %>" alt="<%= restaurant.name %>">
  <h2><%= restaurant.name %></h2>
  <div>
    <p><%= restaurant.is_closed %></p>
    <p><%= restaurant.rating %></p>
    <p><%= restaurant.price %></p>
    <p><%= restaurant.phone %></p>
  </div>
</section>
<% }) %>
<% } else { %>
<p>Sorry! We couldn't find you restaurants for this area.</p>
<% } %>